<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="@UiId" @onchange="ValueChangedAsync" checked="@(Value ? "" : null)" />
    <label class="custom-control-label" for="@UiId">
        <span class="p mb-0 font-weight-bold">@Permission.Description</span><br />
        <span class="text-muted">@Permission.Name</span>
    </label>
</div>